h1{
	color: #A5A58D;
	font-size: 50px;
	font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;

}

h2{
	color: #B7B7A4;
	font-size: 36px;
	font-weight: 400;
	font-family: 'Noto Sans KR', sans-serif;
	
}

.special{
	font-size: 40px;
	font-weight: 700;

}

body{
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	background-color: #FFF1E6;
	text-align: left;
	margin: auto;
  	width: 50%;
  	max-width: 800px;
  	min-width: 300px;
}

p{
	color: #DDBEA9;
	font-size: 24px;
	font-weight: 400;
	font-family: 'Roboto Mono', monospace;

}
